@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'sans-serif';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/421927/pexels-photo-421927.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.menu {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 40px;
  display: flex;
  flex-direction: column;
  padding: 6px;
  cursor: pointer;
}

.bar {
  position: relative;
  background-color: #fff;
  height: 2px;
  width: 100%;
  /* transition: all 2s ease-in-out; */
}

.bar.active {
  opacity: 0;
  
}

.fas.fa-times {
  display: none;
  position: relative;
  top: -27px;
  left: -2px;
  /* transition: all 2s ease-in-out; */
  
  
}

.fas.fa-times.active {
  display: flex;
  transition: all 2s ease-in-out;
  
}


.bar:nth-child(even) {
  margin: 6px 0 6px 0;
}



.wrapper {
  width: 460px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.521);
  transform: scale(0);
  transform-origin: center;
  transition: all 2s ease-in-out;
}

.wrapper.active {
  transform: scale(1);
  
}

.signin_wrap {
  width: 400px;
  padding: 10px;
}

h2 {
  margin-bottom: 10px;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  
}

.password_input_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

i {
  padding: 10px;
  color: #fff;
  
}

.fas.fa-eye-slash.active {
  display: none;
}

.fas.fa-eye {
  display: none;
}

.fas.fa-eye.active {
  display: flex;
}



input {
  width: 100%;
  font-size: 13px;
  border: 0;
  outline: none;
  background: none;
  color: #fff;
  /* border-bottom: 2px solid #fff; */
}

::placeholder {
  color: white;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  outline: none;
  background: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}

/* i[title]:hover::after {
  content: attr(title);  
  background: red;
  color: #fff;
} */

.login_button {
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.521);
  border: 1px solid #fff;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  margin-top: 40px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 2px;
}

